[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
celery = "==4.4.7"
redis = "*"
flower = "==0.9.5"

[dev-packages]
pdbpp = "*"
django-silk = "*"

[requires]
python_version = "3.9"
